html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  /*  Disable scrollbars */
  overflow: hidden;
  /* No floating content on sides */
  display: block;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#boardCanvas {
  height: 100%;
  aspect-ratio: 1/1;
}

#cardEditCanvas {
  height: 100%;
  margin: auto;
  aspect-ratio: 1/1;
}

.infoPannel {
  background-color: blueviolet;
  height: 100%;
}

.scorePannel {
  font-size: x-large;
  align-content: center;
  justify-content: center;
}

._50w {
  width: 50%;
}

._33h {
  height: 1/3%;
}

._100w {
  width: 100%;
}

._100h {
  height: 100%;
}

._75w {
  width: 100%;
}

._25w {
  width: 100%;
}
